registry=https://registry.npmjs.org/
@ifxglobal:registry=https://artifactory.intra.infineon.com/artifactory/api/npm/npm-tcp-ui-component-library-local/
@miami:registry=https://artifactory.intra.infineon.com/artifactory/api/npm/npm-other-pss-aiml-local/
@ifx:registry=https://artifactory.intra.infineon.com/artifactory/api/npm/npm-tcp-ui-component-library-local/
